### Aegis

## Node.js
# compiled output
/dist
/node_modules

# Testing
/coverage
/.nyc_output

## Local / Development
# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Direnv auto-export scripts
.envrc*

# Internal specifications
/_internal
/_spec

## Telemetry and Logging
# Application logs
logs/
*.log

# Debug logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

## IDE's and Editors
# JetBrains
/.idea
# VSCode
.vscode/

## Miscellaneous
# macOS
.DS_Store
